.imagenes-sanidad{
    width: 500px;
    height: 500px;
}

.imagenes-alimentos{
width: 500px;
height: 500px;
}

.imagenes-lacteos{
width: 500px;
width: 500px;
}

.imagenes-snacks{
height: 500px;
width: 500px;
}

.imagenes-bebidas{
    width: 500px;
    height: 500px;
}